<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacroGI</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="nav-content">
            <a href="/" class="logo">MacroGI</a>
            <div class="nav-links">
                {% if session.get('user_id') %}
                    <a href="/" class="nav-item">Home</a>
                    <a href="/scan" class="nav-item">Scanner</a>
                    <a href="/dashboard" class="nav-item">Dashboard</a>
                    <a href="/food-diary" class="nav-item">Food Diary</a>
                    
                    <a href="/logout" class="nav-btn">Logout</a>

                {% else %}
                    <a href="/login" class="nav-btn">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


<button id="chat-toggle" onclick="toggleChat()" class="chat-fab">
    <img src="{{ url_for('static', filename='imgs/chatbot.png') }}" style="width: 35px; height: 35px;">
</button>

<div id="chat-window" class="hidden chat-container">
    <div class="chat-header">
        <strong>MacroGI Advisor</strong>
    </div>

    <div id="chat-display" class="chat-display">
        <div class="message bot-message">
            Hi! I'm your MacroGI assistant. Ask me anything about dietary management!<br><br>
            <strong>Medical Disclaimer:</strong> I am an AI advisor and not a medical professional. The information provided is for educational purposes only and should not replace advice from your doctor or a registered dietitian. 
        </div>
    </div>

    <div class="chat-input-area">
        <input type="text" id="user-input" placeholder="Type a message..." onkeypress="handleKey(event)">
        <button onclick="sendMessage()" class="send-btn">Send</button>
    </div>
</div>


<script src="{{ url_for('static', filename='chatbot.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</body>
</html>